* {
  font-family: Helvetica;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background-color: #f7f7f7;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 500px;
  margin: 0 auto;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}

input:focus,
textarea:focus {
  border-color: #007185;
  box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgb(15 17 17 / 15%) inset;
  outline: none;
}
